body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

a {
  color: #59331d;
}

a:hover {
  text-decoration: none;
}

header {
  padding-top: 10px;
  border-bottom: 10px solid #d98555;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

nav li {
  font-size: 1.3rem;
}

nav .logo {
  margin-right: auto;
}

nav li:not(.logo) {
  margin-left: 1rem;
  padding-right: 30px;
  padding-bottom: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: #d98555;
}

nav .logo img {
  max-width: 200px;
  max-height: 100px;
  padding-left: 30px;
}

.main-bkgd {
  background: #ffffff url(gulp-bottom-beans.jpg) repeat-x bottom;
  padding-bottom: 212px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

article {
  flex-basis: 100%;
}

figure {
  margin: 110px 0 0 0;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

figure img {
  border-radius: 10px;
  width: 100%;
  max-width: 2000px;
  height: auto;
}

.button {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}

.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}

footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
  padding: 20px;
}
.small-text {
  font-size: 0.8rem;
  color: white;
  padding: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

/* Add a media query for desktop view */
@media (min-width: 940px) {
  figure {
    margin-top: -170px; /* Align with the "Contact Us" text */

  }
}

/* Add a media query for tablet view */
@media (max-width: 940px) {
  figure {
    margin-top: 0;
  }

  article,
  figure {
    flex-basis: 100%; /* Make both full width on tablet view */
    align-self: flex-start;
  }
}

@media (max-width: 610px) {

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  nav li {
    margin: 2px 0;
    text-align: center;
  }

  nav .logo {
    margin: 0 auto;
    text-align: center;
  }

  nav .logo img {
    max-width: 200px;
    max-height: 100px;
    padding-left: 0;
    margin: auto;
    display: block;
  }

  nav li:not(.logo) {
    padding-top: 10px;
    text-align: center;
    margin-left: 35px;
  }
}